body {
  margin: 40px auto;
  max-width: 500px;
  font-family: Ubuntu, sans-serif;
  background: #312e2e;
  color: #c88f0a;
}

h2 {
  font-size: 2rem;
}

.statusbox {
  background: #002;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 0 10px #0000006b;
}

.statusbox > h3 {
    margin-top: 0;
}

.check {
  width: 50%;
}

.results {
  display: flex;
}

.statuscircle {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.check-passed .statuscircle {
  color: #00ca00;
}

.check-failed .statuscircle {
  color: #ca0000;
}

.check-unavailable .statuscircle {
  color: #caca00;
}

a {
  color: #f0ae14;
}
