 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Server Status</title>
    <style>{% include "style.css" %}</style>
  </head>
  {% macro check_class(check) %}
  {% filter trim %}
  {% if check.passed is none %}
  check check-unavailable
  {% elif check.passed %}
  check check-passed
  {% else %}
  check check-failed
  {% endif %}
  {% endfilter %}
  {% endmacro %}

  {% set statuscircle %}
  <span class="statuscircle">●</span>
  {% endset %}

  <body>
    {% for server, checkresults in results.items() %}
    <h2 id="{{ server.lower() }}">{{ server }}</h2>

    {% for result in checkresults %}
    <div class="statusbox">
    {% if result.proto == "tcp" %}
      <h3>TCP on {{ result.host }}:{{ result.port }}</h3>
      <div class="results">
        <span class="{{ check_class(result.sections.ipv4) }}">
          {{ statuscircle }}
          {% if result.sections.ipv4.passed %}
          IPv4 - {{ result.sections.ipv4.msg }}ms
          {% else %}
          IPv4 - {{ result.sections.ipv4.msg }}
          {% endif %}
        </span>
        <span class="{{ check_class(result.sections.ipv6) }}">
          {{ statuscircle }}
          {% if result.sections.ipv6.passed %}
          IPv6 - {{ result.sections.ipv6.msg }}ms
          {% else %}
          IPv6 - {{ result.sections.ipv6.msg }}
          {% endif %}
        </span>
      </div>
    {% elif result.proto == "https" %}
      <h3>HTTPS on <a href="https://{{ result.host }}">{{ result.host }}</a></h3>
      <div class="results">
        <span class="{{ check_class(result.sections.request) }}">
          {{ statuscircle }}
          Request - {{ result.sections.request.msg }}
        </span>
        <span class="{{ check_class(result.sections.cert) }}">
          {{ statuscircle }}
          Certificate - {{ result.sections.cert.msg }} days
        </span>
      </div>
    {% else %}
      <h3>Unknown protocol {{ result.proto }}</h3>
    {% endif %}
    </div>
    {% endfor %}
    {% endfor %}
    <div>
      Results generated at {{ timestamp }}
    </div>
  </body>
</html>
